.taskBox.container{
    
    min-height: 25%;
    max-width:48%;
    margin: 10px;
    padding: 20px;
    text-align: left;
    

}
.card{
    border:1px solid hsl(0,0%, 80%);
    border-radius:10px;
    box-shadow:5px 5px 5px hsl(0, 0%, 0%, 0.1);
    
}
.taskInput{
    padding:10px,0px;
    border-radius:4px;
    color:rgb(85,85,85);
    height:3em;
    text-align: center;
    font-size: 22px;
    border:none;
    background-color: whitesmoke;
}

.allItems{
    margin: 0 0 0 35px;
}

.taskInputDiv{
    max-width: 100%;
    
}
span{

    text-align: left;
}

.numberOfPomdoro{
    width:75px;
    background-color:rgb(85,85,85);
    color:white;
    text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}