.taskBox.container{
    min-height: 25%;
    max-width:48%;
    margin: 10px;
    padding: 20px;
    text-align: left;
    position: relative;
    background-color: transparent !important;
    transition: background-color 0.3s ease;
}
.footer.container{
    background-color: #a8a6a6;
    margin-top: -10px;
    padding: 14px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 48%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}

.taskBox.container:has(.allItems) {
    background-color: whitesmoke !important;
}

.add-task{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
    border: 2px dashed rgba(124, 121, 121, 0.4);
    height: 8vh;
    padding: 10px;
    background-color: transparent !important;
}

.add-task button {
    width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius:
8px;
  -moz-box-pack: center;
  -moz-box-align: center;
  cursor: pointer;
  opacity: 0.8;
  border:2px dashed rgba(255, 255, 255, 0.4);
  align-items: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 12px;
}

.task-card{
    max-width: 48%;
}



.card{
  border: 1px solid hsl(0, 0%, 80%);
 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
}

.taskInput{
    padding: 10px 0px;
    border-radius: 4px;
    color: rgb(85,85,85);
    height: 3em;
    text-align: center;
    font-size: 22px;
    border: none;
    background-color: whitesmoke;
}

.allItems{
    margin: 0 0 0 35px;

}

.taskInputDiv{
    max-width: 100%;
}



/* Hide footer when task form is not open */

span{
    text-align: left;
}

.numberOfPomdoro{
    width: 75px;
    background-color: rgb(85,85,85);
    color: white;
    text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}